<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Reservation form</title>
  </head>
	<body>
		<h1>Make your reservation</h1>
			<form action="/reservation" method="post">
				Name: <input type="text" name="name">
				<br/><br/>
  				Amount of guests: <input type="number" name="guests">
				<br/><br/>
				Start of reservation: <input type="date" name="startDate"> <input type="time" name="startTime">
				<br/><br/>
				End of reservation: <input type="date" name="endDate"> <input type="time" name="endTime">
				<br/><br/>
  				<button type="submit">Reserve</button>
			</form>
	</body>
</html>
