<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Reservation form</title>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>

  </head>
	<body>
		<h1>Make your reservation</h1>
			<form th:action="@{/reservation}" method="post" onsubmit="return checkReservation();" novalidate>
				Name: <input type="text" name="name" id="resName">
				<br/><br/>
  				Amount of guests: <input type="number" name="guests" id="guestAmount" required>
				<br/><br/>
				Reservation date: <input type="date" name="date" id="dateField" required>
				<br/><br/>
				Start of reservation: <input type="time" name="startTime" id="startTime" required>
				<br/><br/>
				End of reservation: <input type="time" name="endTime" id="endTime" required>
				<br/><br/>
				<label for="tableTypes">Preferance:</label>
				<select id="tableTypes" name="tableType">
					<option value=""></option>
					<option value="inside">inside</option>
					<option value="outside">outside</option>
					<option value="quiet">quiet corner</option>
				</select>
				<br/><br/>
  				<button type="submit">Reserve</button>
			</form>
	</body>
</html>
